
.shorcuts {
    display: flex;
    margin: 0% 1%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #FDFE00;
    cursor: pointer;
    justify-content: center;
    font-size: 25px;
}

