.Container{
    background-image: url('../img/deliveryguy.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 10%;
    width: 100%;
    height: 100vh;
    display: grid;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.Delivery{
    position: relative;
    left: 2%;
    height: 80%;
}

.Form {
    background-color: #012F48;
    padding: 5%;
    border-radius: 20px; 
    width: 20%; 
    height: 60%; 
    position: absolute;
    top: 10%;
    left: 55%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
}

.Form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    height: 100%; 
}

.Form input {
    width: 80%;
    font-size: 1.5em;
    padding: 10px; 
    border-radius: 10%;
    background-color: #F6F69E;
}

.Form button {
    width: 80%; 
    font-size: 1.5em;
    padding: 10px;
    background-color: #F6F69E; 
    color: #012F48;
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    transition: all 0.3s;
}

.Form button:hover {
    background-color: #012F48; 
    color: #F6F69E; 
}   

.Form {
    background-color: #012F48;
    padding: 5%;
    border-radius: 20px; 
    width: 20%; 
    height: 60%; 
    position: fixed; /* Modified */
    top: 10%; /* Modified */
    left: 55%; /* Modified */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
}

/* Rest of the code remains the same */

@media screen and (max-width: 768px) {
    
    .Form {
      width: 70%; /* Adjust as needed */
      top: 30%; /* Adjust as needed */
      left: 10%;
      
      /* Other styles... */
    }
    .Form form{
        display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .Form input {
        width: 80%;
        font-size: 0.5em;
        padding: 10px; 
        border-radius: 10%;
        background-color: #F6F69E;
    }
    
  
    .Container {
      /* Other styles... */
    }
  }