.header {
    display: flex;
    background-color: #012F48;
    justify-content: space-around;
    align-items: center; 
    padding: 1vh; 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    width: inherit;
  }
  
  .logos {
    display: flex;
  
  }
  
  .logos img{
  
    max-width: 3vh;
    height: auto;
  }
  
  .logos a{
    margin-right: 0.5vw;
  }

  .logIn{
    cursor: pointer;
  }


  @media screen and (max-width: 768px) {
    .header {
      padding: 2vh;
      width: 100vmax;
    }

    .logos {
      margin-top: 2vh;
    }

    .logos img {
      max-width: 5vh;
    }

    .logos a {
      margin-right: 1vw;
    }

  }

  @media screen and (min-width: 769px) {

    .header {
      padding: 2vh;
      width: 100vmax;
    }

    .logos {
      margin-top: 2vh;
    }

    .logos img {
      max-width: 5vh;
    }

    .logos a {
      margin-right: 1vw;
    }
  }