.Servicios{
    background-color: #043B59;
    color: #FDFE00;
    padding: 2%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    width: inherit;

}

.Servicios h1{
    margin-top: 0%;
    margin-bottom: 5%;
    font-size: 60px;
}

.ServiciosLogos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}

.ServiciosLogos img{
    width: 250px;
    margin: 4% 2% 3% ; 
}




@media screen and (max-width: 768px) {
    .Servicios {
      padding: 2vh;
      width: 100vmax;
    }
    .ServiciosLogos img{
        width: 20vh;
        height: auto;
        margin: 4% 2% 3% ; 
    }
  }

  @media screen and (min-width: 769px) {
    .Servicios {
      padding: 2vh;
      width: 100vmax;
    }
    .ServiciosLogos img{
        width: 20vh;
        margin: 4% 2% 3% ; 
    }
  }
